@import 'tailwindcss';

@theme {
  /* colors */
  --color-primary: #70508f; /* deep purple */
  --color-accent: #f67f77; /* coral */
  --color-secondary: #b99ef1; /* lavender */
  --color-tertiary: #190330; /* dark purple */

  /* backgrounds*/
  --color-background-muted: #fefeff; /* almost white*/
  --color-background: #fbf5ff; /* light lavender */

  /* text */
  --color-p-black: #000000;
  --color-p-white: #ffffff;

  --color-stroke: #28114a;
}

@layer base {
  p {
    @apply text-base  lg:text-lg;
  }

  h2 {
    @apply text-xl lg:text-3xl;
  }

  h3 {
    @apply text-lg  lg:text-3xl;
  }

  h4 {
    @apply text-base font-bold lg:text-xl;
  }

  input {
    @apply p-3 lg:p-2;
  }

  button {
    @apply p-3 lg:p-2;
  }
}

@layer utilities {
  .glass-effect {
    @apply bg-background-muted/60 rounded-xl backdrop-blur-lg border border-white shadow-lg;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-stroke);
  -webkit-text-fill-color: #f5e298;
}
