@import 'tailwindcss';

@theme {
  /* colors */
  --color-primary:  #412F5B; /* deep purple */
  --color-accent: #f67f77; /* coral */
  --color-secondary: #A29EF1; /* lavender */
 

  /* backgrounds*/
  --color-background-muted: #fefeff; /* almost white*/
  --color-background: #fbf5ff; /* light lavender */

  /* text */
  --color-p-black: #000000;
  --color-p-white: #ffffff;
  --color-p-disabled: #bbabca;
  

  --color-stroke: #28114a;
}

@layer base {
  body {
    font-family: 'Source Sans 3', sans-serif;
  }

  p {
    @apply text-base  lg:text-lg;
  }

  h2 {
    @apply text-2xl lg:text-3xl;

    font-family: 'Manrope', serif;

  }

  h3 {
    @apply text-2xl  lg:text-3xl;
    font-family: 'Manrope', serif;
    text-align: center;
  }

  h4 {
    @apply text-base font-bold lg:text-xl;
    font-family: 'Manrope', serif;
  }

  label {
    @apply text-base lg:text-lg;
  }

  input {
    @apply p-3 lg:p-2 w-full;
  }

  button {
    @apply p-3 lg:p-2;
  }
}

@layer utilities {
 
  .glass-effect-input {
    @apply  backdrop-blur-lg border border-white shadow-lg ;
  }

  .uppercase {
    text-transform: uppercase;
    font-family: 'Source Sans 3', sans-serif;
    @apply tracking-wider;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-background to-secondary/60;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-stroke);
  -webkit-text-fill-color: #f5e298;
}


