@import 'tailwindcss';

@theme {
  /* colors */
  --color-primary: #70508f; /* deep purple */
  --color-accent: #f67f77; /* coral */
  --color-secondary: #b99ef1; /* lavender */

  /* backgrounds*/
  --color-background-muted: #fefeff; /* almost white*/
  --color-background: #fbf5ff; /* light lavender */

  /* text */
  --color-p-black: #000000;
  --color-p-white: #ffffff;

  --color-stroke: #28114a;
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-stroke);
  -webkit-text-fill-color: #f5e298;
}
